version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "semiannually"
    groups:
      version-updates:
        applies-to: version-updates
        update-types:
          - "major"
          - "minor"
          - "patch"
      security-updates:
        applies-to: security-updates
        update-types:
          - "major"
          - "minor"
          - "patch"

  - package-ecosystem: "npm"
    directory: "/site"
    schedule:
      interval: "semiannually"
    groups:
      version-updates:
        applies-to: version-updates
        update-types:
          - "minor"
          - "patch"
      security-updates:
        applies-to: security-updates
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "pip"
    directory: "/draw"
    schedule:
      interval: "semiannually"
    groups:
      version-updates:
        applies-to: version-updates
        update-types:
          - "minor"
          - "patch"
      security-updates:
        applies-to: security-updates
        update-types:
          - "minor"
          - "patch"
