[
    {
        "code": "111111",
        "from": "Person 1",
        "to": "UGVyc29uIDI="
    },
    {
        "code": "222222",
        "from": "Person 2",
        "to": "UGVyc29uIDM="
    },
    {
        "code": "333333",
        "from": "Person 3",
        "to": "UGVyc29uIDE="
    }
]
